.wrapper {
  margin: 10px;
  display: flex;
  height: 75vh;
  border: 1px solid black;

  .section {
    border: 1px solid black;
  }

  app {
    &-screen {
      width: 80%;
    }

    &-control {
      width: 20%;
    }
  }
}
